
    html, body {

      background-color: black;
      font-family: 'Open Sans', Arial, sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    @-ms-viewport{
      height: device-height;
    }
    a {
      text-decoration: none;
    }

    .patch-button {
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-size: 1.5em;
      letter-spacing: 0;
      height: 10px;
      width: 30px;
    }

    /*
    .patch-button:hover {
    border: solid 3px #FFF;
    line-height: 1px;
  }
  */

  .patch-item {
    padding-top: 100px;
    background-color: black;
    border-radius: 4px;
    float: left;
    height: 100%;
    margin: 0 0 5% 0;
    width: 100%;

  }

  .textIcons {
    color: white;
    font-weight: bold;
    cursor: default;
    font-size: 1em;
    font-size: 1.5em;
    letter-spacing: 0;
    height: 70px;
    width: 30px;
    background-color: black;
    border-radius: 4px;
    float: left;
    width: 38%;
    margin-top: 25px;

  }

  .patch-container {
    background-color: #000000;
    border-radius: 5px;
    color: #000000;
    overflow: auto;
    position: relative;
    text-align: center;
    zoom: 1;
  }


  .patch-panel {
    background-color: #FFF;
    border-radius: 4px;
    color: #FFF;
    display: none;
    float: left;
    font-size: 1.5em;
    line-height: 250px;
    margin: 0 0 2% 0;
    width: 70%;
    height: 00px;
  }

  a.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    float: center;
    margin-top: 28px;
    min-width: 35%;
    margin-left: 10px;
  }
  a.button:hover{
    color:#000000;
    background-color:#FFFFFF;
  }

  .imgPass {
    float: left;
    margin-left: 100px;
    cursor: default;
  }

  [data-patch-panel='1'],
  [data-patch-panel='5'],
  [data-patch-panel='8'] {
    background: #F5AB35;
  }

  [data-patch-panel='2'],
  [data-patch-panel='6'],
  [data-patch-panel='9'] {
    background: #00B16A;
  }

  [data-patch-panel='3'],
  [data-patch-panel='7'],
  [data-patch-panel='10'] {
    background: #E74C3C;
  }

  [data-patch-panel='4'],
  [data-patch-panel='8'],
  [data-patch-panel='12'] {
    background: #3498DB;
  }

  .formPass {
    width: 100%;
  }

  .formPassWrapper {

  }

  .formHeading {


  }

  .formPassInput {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 70%;
    border: 1px solid #a3a3a3;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.2);
    color: white;
    outline: none;
    text-align: center;
  }


  .adminButtons {
    border: 1px solid #a3a3a3;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 25px;
  }
  .adminButtons:hover {
    background: rgba(20, 20, 20, 0.8);
  }

  #reports {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  #formReports {
    border-collapse: collapse;
    width: 90%;

  }



  .submitPass {
    border: 1px solid #a3a3a3;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 25px;
  }
  .submitPass:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
  }

  .submitPass[disabled=disabled], .submitPass:disabled {
    background: red;
    padding: 10px 80px;
  }

  .errorMessageText {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 80px;
  }


  @media only screen and (max-width: 900px) {
    h2 {
      font-size: 3.3rem;
    }

    .patch-panel {
      margin: 1%;
      width: 100%;

    }
    .components {
      margin: 1.5%;
      width: 46%;
    }

    .logout-box {
      padding-top: 30px;
      float: left;
      height: 100px;
      width: 100%;
    }

    .textIcons {
      color: white;
      font-weight: bold;
      float: left;
      width: 35%;
      display: none;
    }

    .imgPass {
      float: left;
      margin-left: 50px;
      cursor: default;
      height: 80px;
      width: 80px;
      margin-top: 10px;
    }


    .button[data-abbr]::after {
      content: attr(data-abbr);
    }
  }


    /* .imgPass {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    } */


    /*patch-item {
    float: left;
    height: 200px;
    margin: 0 0 5% 0;
    width: 30%;
    }*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,10); /* Fallback color */
  background-color: rgba(0,0,0,.95); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 38px;
  font-weight: bold;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #474747;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #383838;
  color: white;
  font-family: OpenSans-Regular, sans-serif;

}

.deleteNote {
  float: left;
  margin-top: 20px;
  margin-left: 9%;
  width: 80%;
  height: 140px;
  margin-bottom: 15px;
  padding: 4px 12px;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  border-right: 6px solid #f44336;
  color: black;

}

select option {
  margin: 40px;
  background: rgba(26, 26, 26, 0.8);
  color: white;
}

@media all and (max-width:700px){
  a.button{
    float: center;
    text-align: center;

  }
  .imgPass {
    float: left;
    margin-left: 39%;
  }

  .iconPass {
    float: left;
    width: 100%;
  }

  .imgLogo {
    float: center;
    cursor: default;
    height: 90px;
    width: 330px;
    margin-top: 10px;
  }

  .deleteNote {
    float: left;
    margin-top: 20px;
    margin-left: 9%;
    width: 80%;
    height: 195px;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    border-right: 6px solid #f44336;
    color: black;
}
}
