.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,10); /* Fallback color */
  background-color: rgba(0,0,0,.95); /* Black w/ opacity */
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 38px;
  font-weight: bold;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #474747;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #383838;
  color: white;
  font-family: OpenSans-Regular, sans-serif;
}


/* Form Report CSS*/
.formReport {
  width: 100%;
}

.formReportWrapper {

}

.formHeading {


}

.formReportInput {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 70%;
  border: 1px solid #a3a3a3;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
  text-align: center;
}

.submitReport {
  border: 1px solid #a3a3a3;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  margin-bottom: 25px;
}
.submitReport:hover {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
